* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
    font-family: Arial;
    /* background-color: #f6f8f9; */
    background-color: black;
}

/****** 
common 
******/

.container {

    background-color: #ffffff;
    width: 785px;
    margin: auto;
    padding: 15px 50px;
    border-bottom: 2px solid #f6f8f9;
}

.button {

    background-color: red;
    display: inline-block;
    border-radius: 5px;
    padding: 10px 15px;
}


/****** 
header 
******/

header{

    background-color: #ffffff;
    height: 70px;
    margin-bottom: 40px;
}


#logo {

    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 10px 20px;
}

#title {

    display: inline-block;
    font-size: 40px;
    font-weight: bold;
}


/****** 
main 
******/

.first-part {

    border-radius: 10px 10px 0 0;
}

.second-part {

    border-radius: 0 0 10px 10px;
}